[2014-07-24 19:02] radujipa opened #1 "[UI] Hover over effect"
Buttons need to have a hover over effect. Either the button image changes _onMouseOver_ or the cursor changes.

cc @alex5imon @TommySaehl

[2014-07-24 19:11] radujipa opened #2 "[UI] CSS styling for widgets"
Directory for `CSS` styling has been added in `res/`.
Need to make widgets consistent with designs from Tommy.

![kano-burner_ in-progress](https://cloud.githubusercontent.com/assets/3577547/3693350/48db6f1c-1366-11e4-8e15-9533b37ff0bd.png)
![kano-burner_ start](https://cloud.githubusercontent.com/assets/3577547/3693351/48deb7bc-1366-11e4-8ba5-89c70f97439b.png)
![kano-burner_0002_ error](https://c

[2014-07-24 19:20] radujipa opened #3 "Starting the process and not choosing a disk throws an error"
This line https://github.com/KanoComputing/kano-burners/blob/master/kano-burner#L102 is throwing an error when no device has been selected.

Either solve this by showing a _disabled_ button for `START` or create an error screen explaining the issue. I prefer the former over the later.

Thoughts @alex5imon @TommySaehl ?

[2014-07-24 20:00] radujipa opened #4 "Setup scripts to build the app with pyinstaller"
Mac OS and Linux versions should be packaged with `pyinstaller` and `--onefile` option.
For Windows, same process, but potential `tools` need to be provided separately.

For this, a *build script* and a pyinstaller specific `.spec` file should be provided.

 - [x] OSX
 - [ ] Linux
 - [x] Windows

cc @alex5imon @zsero

[2014-07-24 20:10] radujipa opened #5 "Downloader keeps running if the application is closed"
If you are in the downloading phase, `pySmartDL` is not notified that the application has been closed and continues to run in the background. Running threads should be nicely terminated.

[2014-07-25 08:22] radujipa opened #6 "[New Feature] Allow users to backup their OS"
It would be useful for users to have the option to backup their OS and save the image on their hard drive so that they might restore it later. Backing up files would be just a click of a button away.

[2014-07-25 08:26] radujipa opened #7 "[New Feature] Allow users to restore a backed up OS image"
Users would have the option to either download the latest version of Kano OS or restore an OS image from their hard drive. The process should be really simple: Select `Restore` > `Open file` to search for image on filesystem > Click `START`.

[2014-07-30 10:33] radujipa opened #8 "[CORE] Windows version"
To setup:
- [x] Install python2.x, x64
- [x] Install PyQt4.x for python 2.x, x64
- [x] add C:\Python27 to Control Panel > System > Edit environment variables.. > Env. Vars. > PATH

The burners work in terms of GUI and everything looks and feels the same (styling). Need to port the actual backend. I already miss Linux...

cc @alex5imon @zsero

[2014-08-05 19:01] radujipa opened #9 "[Dependency] Check kano-burner version"
During dependency checking, we should check the version of the burners against a `minimum-version` reported by the server when retrieving `latest.json`.

cc @zsero @alex5imon

[2014-08-05 19:08] radujipa opened #10 "[Download] Retrieve data about the latest OS version from server"
The `download` module should first retrieve `downloads.kano.me/public/latest.json` in order to get the latest info about Kano OS. Then, `downloads.kano.me/public/[LATEST_OS].img.gz.json` will contain the URL and image information.

[2014-08-11 22:26] #3 closed, assigned to nobody

[2014-08-11 22:35] radujipa opened #11 "[Nice to have] kano-burner-cli command line"
Obviously, it should provide the entire functionality of the entire UI application.

List of things which would be nice to have:
- [ ] progress bars for both downloading and burning stages
- [ ] **--repo [devel | release]** option
- [ ] **--debug** option
- [ ] **--version** option
- [ ] **--help** option
- [ ] **--input [image_name]** option
- [ ] **--backup [path]** option

[2014-08-11 22:37] #5 closed, assigned to nobody

[2014-08-13 13:33] radujipa opened #12 "[Improvement] disk.py should detect whether the SD card is write protected"
It may be often the case that the **Lock** switch on a typical SD card had been set either by mistake or by simply inserting the card in the used reader. An appropriate error message should inform the user this has happened.

Perhaps an image could be used to better illustrate what the problem was with the card.

[2014-08-18 15:53] radujipa opened #13 "[Dependency] Use OS api to ask for sudo password"
Make sure the application is run with `sudo` privileges and **prompt** the user for password / approval.

 - [x] OSX
 - [ ] Linux
 - [x] Windows

[2014-08-20 15:37] radujipa opened #14 "[Linux] [Disk] Some disks are not listed when they should be"
The function `get_sizes()` uses `parted` to get the sizes of the disks. Sometimes `parted` uses **MB** when the value could be converted to **GB** _e.g. 7693MB_.

Initially, it was **assumed** that `parted` converts to GB if possible and if the value was in MB, the disk should be ignored because it would've been too small to use anyway.

[2014-08-22 13:49] radujipa opened #15 "[Disclaimer] Show a warning disclaimer before starting burning"
The user should be informed about the consequences of using the application.
Main idea would be to have a window popup with the disclaimer text, ticking a box that they understand what the application does and a button to confirm. The confirm button should be disabled until the tick box has been checked.

Any design ideas on this one guys? @TommySaehl @lucasneumann

[2014-08-26 12:14] #8 closed, assigned to nobody

[2014-08-26 12:14] #2 closed, assigned to nobody

[2014-08-26 12:15] #10 closed, assigned to nobody

[2014-08-26 12:15] #1 closed, assigned to nobody

[2014-08-26 12:15] #14 closed, assigned to nobody

[2014-08-26 12:41] radujipa opened #16 "[Linux] [Disk] Listed disk names and sizes do not match"
Durring https://github.com/KanoComputing/kano-burners/issues/14 disk sizes where changed to be fetched with `fdisk` instead of `parted`. Unfortunately, the programs do not report disk info ordered by disk name and disk sizes become _misaligned_.

[2014-08-26 12:50] #16 closed, assigned to nobody

[2014-08-29 10:57] #15 closed, assigned to CarolineClark

[2014-08-29 16:16] radujipa opened #18 "[Disk] Some SD cards are listed as 4GB and are not listed"
The debugger reports that a 4GB disk has 3.96GB, and we should actually list those.

[2014-08-29 18:20] radujipa opened #19 "[Dependency] Replace constant minimum space required with data from jsons"
When doing dependency checking, use the data retrieved with [get_latest_os_info()](https://github.com/KanoComputing/kano-burners/blob/master/src/common/download.py#L114) to replace [REQUIRED_MB](https://github.com/KanoComputing/kano-burners/blob/master/src/osx/dependency.py#L27) with `os_info['compressed_size']` (see [json](http://downloads.kano.me/public/Kanux-Beta-v1.2.1.img.gz.json)). Do not fo

[2014-09-09 18:30] hyperknot opened #20 "[bug] downloading broken"
The downloading part of the burner seems to be seriously broken, it did all kind of crazy things before finally it allowed me to burn the image.
It went up to 300 MB (du in /tmp/kano-burner), then it deleted the files, it started again, it went up again, then finally it completed but it stopped. Said an error dialog that error with downloading, please retry.
I took me 4 tries before I finally was

[2014-10-01 14:16] CarolineClark opened #21 "Problems with burner in Mac OS 10.7.5"
Reported from users:

![screen shot 2014-09-27 at 8 41 01 pm](https://cloud.githubusercontent.com/assets/5319573/4476305/fa9faf1c-4974-11e4-9ca6-ad8ac2e3ead5.png)

and also crash log listed below:

Process: Kano Burner [3856]
Path: /Users/USER/Downloads/Kano Burner.app/Contents/MacOS/Kano Burner
Identifier: Kano Burner
Version: 0.0.0 (???)
Code Type: X86-64 (Native)
Parent Process: Kano Burner [38

[2014-11-05 14:57] CarolineClark opened #22 "Verify disk before performing operations on it"
We had a report of a customer wiping his 1TB internal hard drive after apparently selecting the SD card in the dropdown list.  We need to verify the disk selected is the disk we're formatting and burning.

[2014-11-05 14:59] carolineclark opened #23 "If burners are closed during the burning process, archive is not deleted"

[2014-11-18 08:50] carolineclark opened #26 "Detect if SD card is locked"
A customer reported:

About the burner, I didn't notice that my SDcard was locked.

Now that I've unlocked it, the image is downloading properly.

Maybe the burner could be improved to detect the lock and give a more descriptive feedback than "an error has occurred".

[2014-12-20 18:40] ishotjr opened #27 "Erroneous "There was an error downloading Kano OS..""
Kano OS burner reports "There was an error downloading Kano OS.." despite working internet connection.

### Steps to Repro
1. Download http://80.243.184.98/public/burners/kano-burner-osx.zip from http://www.kano.me/downloads
1. Unzip
1. Launch
1. Select device
1. Burn
1. :heavy_check_mark: "I still want to do this"
1. Click "OK"
1. Observe error message despite working internet connection:

![scre

[2014-12-28 15:48] hzulla opened #28 "kano-burners can't handle non-English LANG setting"
Using Linux, running kano-burners will fail if LANG isn't English or C.

Tried with Ubuntu 14.04 and LANG=de_DE.UTF-8

[2014-12-28 15:52] hzulla opened #29 "kano-burners suggests wrong disk to burn to"
Here's my output of parted --list

[code]

If I start kano-burners, this debugging output will appear:

[code]

kano-burners will then offer to burn onto 'ATA HGST HTS541010A9'.

I preferred not to try that. :-/

[2015-01-06 01:27] hzulla commented on #29
Ah, so the error is that src/linux/disk.py is using two different tools, parted and fdisk. But those may return the disks in different order.

[2015-01-20 12:59] alex5imon opened #31 "Fix Kano Burners in OSX"
We need to make sure Kano Burners work in the following OSX versions:

- [ ] 10.6
- [ ] 10.7
- [ ] 10.8
- [ ] 10.9
- [ ] 10.10

[2015-01-20 13:01] alex5imon opened #32 "Fix Kano Burners in Windows"
We want to make sure Kano Burners work in the following Windows versions:

- [ ] Windows 7
- [ ] Windows 8
- [ ] Windows 8.1

[2015-01-26 22:09] ctceismc commented on #27
Having the same problem today.

[2015-01-28 11:15] pazdera commented on #27
Hi @ctceismc, it was the same metadata file missing problem all over again. It should be back up and working. I'm sorry about that.

Thanks for letting us know!

[2015-01-30 16:39] philiptevans commented on #27
I'm having the same problem

[2015-01-30 17:19] radujipa commented on #27
Currently the downloading seems to fail at [common/download.py#L128](https://github.com/KanoComputing/kano-burners/blob/master/src/common/download.py#L128).

Looking at http://downloads.kano.me/public/ it seems that
`Kanux-Beta-v1.3.2-release.img.json` should actually be renamed to
`Kanux-Beta-v1.3.2-release.img.gz.json`

Perhaps what @pazdera was referring to :)

[2015-01-30 17:23] alexnklein commented on #27
Radu, lovely to see you again

An evening project, to fix the Burners, name your price – email me alex@kano.me if you’re interested….

On Friday, January 30, 2015 at 5:19 PM, Radu Jipa wrote:

[2015-02-02 04:57] x-du commented on #27
Having the problem today.

[2015-02-02 10:47] tombettany commented on #27
Given that there is currently a problem with the downloading, it might be an opportunity to incorporate https://github.com/KanoComputing/kano-burners/pull/25 which proposes a new, simpler (and easier to maintain) convention for the contents of `latest.json`.

[2015-02-03 04:45] gerito1 commented on #31
Attention, there's a problem in the naming in the files located at the server.
This is related with  the issue #32 and my pull request https://github.com/KanoComputing/kano-burners/pull/33

**Apply this patch to fix that, and test it.**
https://gist.github.com/gerito1/6e8ed59742efc7735db0

To sum the problems with the names in the server:
================
All the files are located here: http://dow

[2015-02-03 04:46] gerito1 commented on #32
This issue is related with #31 see my comment there and my pull request.

[2015-02-03 17:04] tombettany opened #34 "Update the `latest.json` on the server to contain `filename` and `base_url`"
Changes on the server need to be made from merging https://github.com/KanoComputing/kano-burners/pull/25.

The `latest.json` should be

[code]

@pazdera Does this file get automatically generated by the server or is it manually edited?

[2015-02-03 17:09] gerito1 commented on #31
@alex5imon Sorry I didn't read that bug report.
I was pointing that to anyone that could be interested to fix this, because I struggled with it working on windows. Unfortunately I had no access to an OSX machine with sd card reader, so I won't work on this. This was a just notice.

[2015-02-03 18:15] pazdera commented on #34
@tombettany The `latest.json` one is manual - we change it every release based on which image we want to release. I already added those entries: http://downloads.kano.me/public/latest.json

[2015-02-04 02:45] gerito1 commented on #27
The problem is still present.
src/common/download still fails
![sin titulo2](https://cloud.githubusercontent.com/assets/2503482/6034155/2cdc30ea-abfe-11e4-8a91-e8fa7f83c3a7.jpg)
Kano-burner is attempting to download
http://downloads.kano.me/Kanux-Beta-v1.3.2-release.img.json
Instead of http: //downloads.kano.me/**public/**Kanux-Beta-v1.3.2-release.img.json

[2015-02-04 03:49] gerito1 commented on #27
Also the filename reported in os_info and returned by downloading should include the extension ".gz".
Or perhaps the burner should assume that, and append it itself.

[2015-02-04 08:47] tombettany commented on #34
Oh @pazdera, I don't know how I missed that. Perfect. I'll close this then.

[2015-02-04 09:13] tombettany commented on #34
@pazdera Looks like we are missing a `public/` on `base_url`. The line should read

[code]

not `"base_url": "http://downloads.kano.me/"`

From https://github.com/KanoComputing/kano-burners/issues/27

[2015-02-04 09:17] tombettany commented on #27
@gerito1 You are absolutely right, I've updated https://github.com/KanoComputing/kano-burners/issues/34 and we'll get the `public/` appended to `base_url`.

I'm a little confused about the `.gz` problem - don't we append it [here](https://github.com/KanoComputing/kano-burners/blob/master/src/common/download.py#L131) and then use it [here](https://github.com/KanoComputing/kano-burners/blob/master/s

[2015-02-04 13:15] gerito1 commented on #27
You are right, sorry. Nevermind me.

[2015-02-04 16:23] gerito1 commented on #27
@tombettany It's me again.
In the burn.py, we are using 7zip to decompress the image and pipe it to dd. (We do not extract the file and then burn it, we burn the image while decompressing).
The filename is for the "Kanux-***.img" the image, but because we don't want to create a 2GB file (or more) it would be nice that the name of the compressed file downloaded by the downloader should be reported

[2015-02-04 17:21] gerito1 commented on #27
@tombettany Check my last commit https://github.com/KanoComputing/kano-burners/pull/33
I'm moddifying the structure of "os_info" to add the compressed filename.
Check if is reasonable please.
I'm accepting suggestions. Thanks.

[2015-02-04 17:37] gerito1 commented on #32
Ok. I made a pull request https://github.com/KanoComputing/kano-burners/pull/33
I hope this is working now.

[2015-02-05 18:42] FMog commented on #32
@gerito1

Been testing the latest, here are the results:

05/02/2015 - Kano Burner (Windows) test.

Test setup 1:

Computer - 2014 Macbook Air
OS - Bootcamp, Windows 8.1 Pro, 64-bit

NOTES:

Initial test, run the burner directly from the .zip file (WinRAR), app launched and downloaded OS, card was detected fine, started the process and accepted dialogue boxes,  initially a higher download speed of

[2015-02-05 19:55] FMog commented on #32
@gerito1

Okay, so decided I couldn't wait until tomorrow and got on with the second test, with much better results:

Test setup 1 (v2):

Computer - 2014 Macbook Air
OS - Bootcamp, Windows 8.1 Pro, 64-bit

NOTES:

This time I tried extracting the .zip file first and ran the burner .exe from the extracted folder which was placed on the desktop. It launched fine and went through the dialogue boxes n

[2015-02-05 21:27] gerito1 commented on #32
@FMog I'm glad to hear that. As now the downloading part has some problems.
Unfortunately, you are talking about a different issue than my changes are responsible.
One month ago, in the server, a file was misspelled, and a configuration file in the server was plain wrong.
The downloaded looked for Kanux-Beta-v1.3.2-release.img.gz.json file,
when Kanux-Beta-v1.3.2-release.img.**json** was the actua

[2015-02-07 16:15] zmingee commented on #31
I found this issue on BountySource. If the issue is still present, I'm willing to take a look at it. Same goes for #32 if it's still an issue as well. Just say the word and I'll start digging!

[2015-02-07 16:41] zmingee commented on #31
Actually, I went ahead and tested it on my MBP (10.10.2) and it failed. Was stuck at "Downloading Kano OS..." for about 20 minutes, and then failed.

![screen shot 2015-02-07 at 11 37 58 am](https://cloud.githubusercontent.com/assets/6311084/6092819/119554ac-aebe-11e4-9db1-f2f1c011fc41.png)

So, I suppose that means it doesn't work. I'm going to go ahead and start working on the issue. I'll log an

[2015-02-08 05:12] zmingee commented on #31
After doing more testing on 10.10.2, it seems that the issue I was having before was just intermittent. I can't replicate the issue anymore. I'm going to go ahead and test the app against 10.6 - 10.10. When I run into any issues, I'll log them against this thread as well. Invariably, I'll run into #21. I'll work on that issue when I have the virtual environment setup for 10.7.

If you have any app

[2015-02-08 05:25] gerito1 commented on #31
@zmingee
The structure of os_info['filename'] has changed with the last commit.
In the osx branch of burn_kano_os, remember to append ".gz" to the filename, otherwise your burn process will fail to find the compressed file.
In the current version os_info['filename'] = "Kanux-xxx**.img**", you need "Kanux-xxx.img**.gz**"

[2015-02-08 06:00] zmingee commented on #31
Actually, my machine successfully burned the image. I do see what you're saying though.. The URL http://downloads.kano.me/public/latest.json shows "filename": "Kanux-Beta-v1.3.2-release.img", and src/common/download.py shows the following...

[code]

Nowhere in this block does it change the value for os_info['filename']. download_kano_os does not change the value, and neither does kano-burner. It

[2015-02-08 06:12] gerito1 commented on #31
@zmingee Yeah you are right. The filename didn't change. They changed the latest.json.
There the 'filename' key reflect the filename of the image itself, not the compressed file.
The contributor that changed the json structure, didn't reply me about this specific issue.
I proposed add the compressed_filename to the os_info dictionary returned by the download. 'Cause in windows if it is a compresse

[2015-02-08 06:27] zmingee commented on #31
Actually, I tested it manually and if you run "gzip -dc <filename>" _without_ the .gz extension, it still recognizes the file. It doesn't throw a "file not found" error. So, I believe that's why it works correctly.

Regardless, tomorrow I'll test the app against 10.6 - 10.10 and see what errors I run into.

[2015-02-08 06:30] gerito1 commented on #31
@zmingee Wow, interesting. That solves many things for me.
So gz it's smart enough to discover that kind of things.
Well 7zip does not have any way to infers that though. It's good to know.

[2015-02-08 06:33] radujipa commented on #32
Managed to solve the burning process in Windows and added a few goodies in this PR https://github.com/KanoComputing/kano-burners/pull/35 :)

[2015-02-13 15:32] alex5imon commented on #31
@zmingee have you done any more testing in OSX after the changes submitted here: https://github.com/KanoComputing/kano-burners/commit/9cd556968b073527439381c80e40c01498cae132?

[2015-02-13 15:35] zmingee commented on #31
Yes, that's the version I've been doing my testing on. So far, Yosemite and Mavericks works fine. I think the initial issues I was having were non-related. Still need to test the others OSes, which I planned on doing this weekend.

[2015-02-13 15:36] alex5imon commented on #31
@zmingee great!

[2015-02-13 15:55] zmingee commented on #31
I'll keep you posted over the weekend, @alex5imon

[2015-03-22 01:03] styro commented on #29
I had the same thing, but didn't notice until I had closed the window and looked at the shell output.

[code]
After lots of futzing around trying to make it recognise the SDCard at all, I finally saw the 7.9GB size for the card listed as the only option and just selected that without properly checking the device label. I probably had a false sense of security having seen that kano-burner checks it

[2015-03-26 14:38] #23 closed

[2015-03-29 04:41] NCommander commented on #32
I have an MSDN subscription and access to all these operating systems. I'll validate Kano OS burner on them.

[2015-03-29 05:04] NCommander commented on #32
and in one of those facepalm worthy moments, I realized I don't have a USB key or SD card handy to actually test this. I do have the dev environment setup, and will build and post the package I'm using to test this.

[2015-04-22 14:27] Ealdwulf commented on #34
@tombettany @pazdera Looks like this is fixed now?

[2015-04-22 14:29] Ealdwulf commented on #4
@alex5imon I think this is old and can be closed. The burner was built with pyinstaller last release.

[2015-04-22 14:50] Ealdwulf commented on #27
@alex5imon It looks like the underlying problem with this one was fixed, I think it can be closed.

[2015-04-22 14:56] Ealdwulf commented on #13
@alex5imon This looks old. The remaining one is linux and we don't support the burner on that. Maybe it can be closed?

[2015-04-22 15:28] #13 closed

[2015-04-22 15:42] tombettany commented on #34
Looks like it

[2015-04-22 16:23] #4 closed

[2015-04-22 16:23] #27 closed

[2015-04-22 17:50] Ealdwulf commented on #26
Closing as a duplicate of #12

[2015-04-22 17:50] #26 closed

[2015-04-23 13:13] Ealdwulf commented on #22
This was merged (Thanks @elyscape !) But I think there was one place where the single digit disk id was still being used: format_disk(). I' have made a fix here: https://github.com/KanoComputing/kano-burners/commit/dc3751ca8bba634dca55fb52881b5b028a42d816

[2015-04-23 13:25] Ealdwulf commented on #12
Error messages are now more informative:
https://github.com/KanoComputing/kano-burners/commit/415a39bafccec43443aa0f7d275a7e000242b972
https://github.com/KanoComputing/kano-burners/commit/1fa871eeb32b741eeab9cff35aeebaaca0facb97

However at present the downloaded image is still deleted, so users will have to download it again, which is not doubt annoying.

[2015-04-28 10:24] Ealdwulf commented on #31
@rluz @FMog  A version for testing can be found in http://dev.kano.me/temp/Kano%20Burner%20OSx%20v2%20rc280415%2009d1be8.dmg

The following should be fixed in this version:
#29 #28 #22 #21 #20 #19 #12 #9

[2015-04-28 10:26] Ealdwulf commented on #32
@rluz @FMog a version for testing can be found in http://dev.kano.me/temp/Kano%20Burner%20win%20v2%20rc280415%2009d1be8.zip
The following should be fixed in this version:
#29 #28 #22 #20 #19 #12 #9

[2015-04-28 10:31] Ealdwulf commented on #34
@alex5imon I think this can be closed, as it refers to the json file on the server which is correct otherwise the burner would not work at all. Rather than assigning someone to test this ticket, we should make sure that  checking that the burner can fetch the image is on the list of things to do when we make a release.

[2015-04-28 10:33] #34 closed

[2015-04-28 11:06] Ealdwulf commented on #31
@FMog @rluz I'm assigning this to Megan, but actually I don't know how the burner testing is supposed to be split between the two of you.

I'm going to add some more information about testing in a bit...

[2015-04-28 11:15] rluz commented on #32
@Ealdwulf I will test it today on the blue hp laptop with Windows 8 64bit and at home on a Asus laptop with Windows 7 64bit

[2015-04-28 11:17] rluz commented on #31
@Ealdwulf Cool, I can test it on Macbook Air 2014 Mac OS X 10.10 and 10.9 / White Macbook 2009 with third party SD card reader Mac OS x 10.8 and 10.7.
All 64 bit OS.
I can also test it on the office iMac 27 inch 10.10.

[2015-04-28 12:27] Ealdwulf commented on #9
@tombettany I have implemented this. A json file containing "min_burner_version" >3 should caus ethe current burner to exit and advise the user to download a new one.

[2015-04-28 12:54] Ealdwulf commented on #32
@rluz Okay :-) Ideally it would be a good idea to check that it works on an image which doesn't have python installed already (because the if the packaging didn't work correctly, the problem may be masked by python already being there. The blue laptop has python already and I'm not sure what else uses it so I didn't remove it. Have you installed python on your laptop?

[2015-04-28 12:56] Ealdwulf commented on #31
Okay, @rluz I assigned it to you. Similarly to the other ticket, ideally it should be tested without python being installed.

[2015-04-28 12:59] Ealdwulf commented on #20
@FMog I have changed the downloader to one that is supposed to be more robust. Since you had problems downloading before it would be useful for you to see if this now works for you.

There is a way to set up a raspberry pi to simulate a quantifiably rubbish internet connection, but I don't know if we want to go that far at this point.

There are tweakable parameters to the aria2 downloader (which

[2015-04-28 13:01] Ealdwulf commented on #18
@rluz: To test, use a 4G rather than 8G Sd card. But this is not hugely important since our customers have 8G ones, so feel free to prioritise other stuff.

[2015-04-28 13:03] Ealdwulf commented on #12
@rluz To test, try with the lock slid to write only.
* The error message should be informative
* The SD card should not be written.

[2015-04-28 13:04] Ealdwulf commented on #21
@rluz I guess this will be tested as part of #31 .

[2015-04-28 13:07] Ealdwulf commented on #22
@rluz @FMog Does either of you have a multi-in-one card reader writer ? If not we need to acquire one before this can be tested.
This fault is caused by having a card reader which appears to windows as so many disks that there are 10 disks, so we ended writing to disk 0 instead of disk 10.

[2015-04-28 13:11] Ealdwulf commented on #19
@rluz The idea of this one is that the burner should  work if there is enough space for the image (compressed +uncompressed +50Mb leeway) and give an informative error otherwise. But I doubt this is s a problem for many people so feel free to deprioritize.

[2015-04-28 13:12] Ealdwulf commented on #9
@alex5imon I tested this myself, so I think it can be closed since there is a lot of other stuff to test.

[2015-04-28 13:16] Ealdwulf commented on #28
@rluz The idea of this one is that the commands are supposed to work if the LANG or LC_ALL environment variables are set to something other than English. it doesn't mean they have to show another language at this point, just that they don't stop working.
http://pubs.opengroup.org/onlinepubs/007908775/xbd/envvar.html

[2015-04-28 13:28] Ealdwulf commented on #31
@FMog @rluz I added some more information to the other tickets .

 I have added an extra feature to the burner which allows it to be pointed at a different server/image.
This can allow:
* using a smaller image (for testing UI and other stuff where you don't need to wait for the whole image to download
* testing against a server under your control (eg for more complicated testing against

Eg, from

[2015-04-28 13:30] Ealdwulf commented on #32
I have added an extra feature to the burner which allows it to be pointed at a different server/image.
This can allow:

using a smaller image (for testing UI and other stuff where you don't need to wait for the whole image to download
testing against a server under your control (eg for more complicated testing against

This is more complicated to use from windows:
Open an admin command window and

[2015-04-28 13:30] rluz commented on #22
@Ealdwulf I have a multi card reader, I can bring it tomorrow.

[2015-04-28 14:11] #9 closed

[2015-05-01 10:41] Ealdwulf commented on #20
I didn't intend to close this!

[2015-05-12 13:45] FMog opened #43 "Larger SD cards not detected by Kano Burner"
GAT tester reported that 32gb card wasn't being detected by Kano Burner, apparently this was intentionally done to prevent wiping JingJing's netbook?

Can we let JingJing use the old burner and we fix this for the public, maybe add additional protection to prevent people wiping drives?

See report below:

---

Affected items: Windows
Priority: Medium

ACTUAL RESULTS:
The Kano Burner does not find

[2015-05-12 14:01] FMog opened #44 "[Bug] - After network disconnection and reconnection, application goes into infinite loop"
Might be worth looking into this, good idea for users with troublesome networks

---

Affected items: Windows
Priority: Low

ACTUAL RESULTS:
 When a network is reconnected after being disconnected, The application does not reconnect to download required files to burn application onto USB stick.

EXPECTED RESULTS:
 Application would find dependencies and tools and would start to download software t

[2015-05-12 14:15] Ealdwulf commented on #43
@FMog I was joking about it being for Jīngjīngs's laptop :-) Jīngjīng does
not need to use the burner.

The burners should now only offer to flash removable disks. But that
includes and USB sticks and hard drives. So we reduced the number because
we only supply 8G sd cards and if we need to supply 32G cards some time in
the future, we can always change the burner (I added a field in the JSON
file

[2015-05-12 14:25] FMog commented on #43
@Ealdwulf - I think 32GB might be useful as they are very reasonably priced to a consumer and more and more people are starting to have them (maybe not just our customers, but our non Kano Kit users), no need to expand to 64GB at this point though in my opinion.

What do you think @alex5imon ?

[2015-05-12 14:26] alex5imon commented on #43
we can extend it 32GB, not that much of a problem... the users just need to be careful

[2015-05-12 14:31] FMog opened #45 "[Bug] - No error or timeout when network is lost during downloading/burning"
Affected items: Windows
Priority: Low

ACTUAL RESULTS:
With Network Disconnected, application continually looks for dependencies and associated tools with out a Time Out or a Try again appearing.

EXPECTED RESULTS:
 Application would Time Out after a set time limit.

OTHER NOTES / ERROR MESSAGES:-

http://bugs8.gatserver.com/uploads/69f89f9409b631c69a0e0d09c0372710.mp4 http://bugs8.gatserver.com/u

[2015-05-12 14:39] FMog opened #46 "Need to set Kano Computing as publisher for Burner"
There is no publisher set on the burner, see GAT tester info below:

---

Raspberry PI 2 Model B.
Date & Time: 07.05.2015 01:35 PM EST
Affected items: Windows
Priority: Low

ACTUAL RESULTS:-
When the Kano Burner.exe installer is launched a Security Warning popup windows is displayed and the Publisher is marked as "Unknown Publisher"

EXPECTED RESULTS:
 Proper name should be displayed in the Publis

[2015-05-12 14:49] Ealdwulf commented on #44
Do we know if this is specific to windows? IE, did they do the same test on
OSx and have it pass?

On 12 May 2015 at 15:01, FMog <notifications@github.com> wrote:

[2015-05-12 14:50] Ealdwulf commented on #45
I think this should read '1. Turn on network'? Since step 4 is 'Disconnected
Network.', it must be connected at that point?

On 12 May 2015 at 15:31, FMog <notifications@github.com> wrote:

[2015-05-12 14:51] FMog commented on #44
@Ealdwulf - Only tested on Windows 8.1 I believe

[2015-05-12 15:03] FMog commented on #43
Other GAT tickets with this issue:

https://github.com/KanoComputing/GlobalAppTesting/issues/141

https://github.com/KanoComputing/GlobalAppTesting/issues/119

https://github.com/KanoComputing/GlobalAppTesting/issues/142

[2015-05-12 15:09] alex5imon commented on #43
@FMog feel free to mark them as duplicate so they don't report it again

[2015-05-12 15:20] FMog commented on #43
@alex5imon - I already had, don't worry :)

[2015-05-12 16:10] FMog opened #47 "[Bug] - All elements in Kano Burner window are not centred when maximised"
Not very high priority, but would be nice to either fix the window size or to centre elements when window is increased in size:

---

Raspberry PI 2 Model B.
Date & Time: 07.05.2015 12:00 AM EST
Affected items: Windows
Priority: Low

ACTUAL RESULTS:

It was observed that the elements from the installer are not centered in the fullscreen mode. All element are displayed on the right-top of the insta

[2015-05-12 16:17] FMog opened #48 "[Bug] - Device dropdown list on Kano Burner not properly aligned."
This is very low priority, but the dropdown list on the burner could do with being improved, or at least aligning below the selection box:

---

Raspberry PI 2 Model B.
Date & Time: 07.05.2015 12:06 AM EEST
Affected items: Windows
Priority: Low

ACTUAL RESULTS:

When the user selects for the first time the device drop down menu, it can be noticed that the drop down list is not properly aligned wit

[2015-05-13 08:40] FMog opened #49 "Add a 'cancel' button to burner"
At the moment there is no way of cancelling the process of burning once it has begun, instead the user can just close the window, a 'cancel' button in the process would be much better, especially if we can also safely stop the process by stopping the burn, removing any temp files downloaded and also maybe ejecting the card? See GAT report below:

---

 230 pm EST 5/6/2015
Affected items: Windows
P

[2015-05-13 08:45] FMog commented on #49
In addition to this, would also be nice to add prompts for user cancelling and such like.

[2015-05-13 10:10] FMog opened #50 "Add window and taskbar application icons for burner on windows"
This is very low priority, but when using the burner application in windows there is no set icon for the taskbar or the application window itself, instead there is only the default windows 'application' icon, see the following screenshots I have taken which explain things better:

![app window icon](https://cloud.githubusercontent.com/assets/8862247/7608348/7cb5775c-f960-11e4-83db-66d7e97d0f31.PNG

[2015-05-13 16:05] FMog opened #51 "[Bug] - Burner ETA switches between seconds and minutes at different stages"
Fairly low prio. This could do with consistently showing in both mins and seconds such as this: `speed xx MB/s eta xx minutes, xx seconds completed xx%` rather than alternating between showing purely seconds and then showing minutes and seconds.

See GAT report:

---

Affected items: Windows
Priority: Low

ACTUAL RESULTS:
- ETA shown changes format from seconds to minutes and seconds during the in

[2015-05-19 20:51] wibbit commented on #43
Afternoon all.

Just ran in to this problem trying this out on a Fedora system, and am obviously running in to the same issue.

I was a little surprised, as based on the wiki page, the tool ignores between 4 and 64GB, howeve rmy 32GB is also being ignored.

Scanning drives..
ran: [parted --list | grep 'Disk /dev/.*:' | awk '{print $2}'] 0
ran: [parted /dev/sda unit B print] 0
Ignoring {'size': 128

[2015-05-19 21:28] wibbit opened #52 "Kano Burner fails to cope with Formatted SD Cards"
I'm in the process of testing kano burner on a Fedora 21 system, and ran in to an issue relating to the unmounting of the media once the image has been downloaded.

The SD card in question has two partitions, as listed below.

I'm happy for these both to be wiped.

Device         Boot  Start     End Sectors  Size Id Type
/dev/mmcblk0p1        8192  204800  196609   96M  c W95 FAT32 (LBA)
/dev/mmcb

[2015-05-20 09:24] Ealdwulf commented on #52
Thanks for reporting this!

On 19 May 2015 at 22:28, wibbit <notifications@github.com> wrote:

[2015-05-20 09:59] wibbit commented on #52
No Problem.

I'll have a look to see the best way in fedora world, to detect and unmount
the device, though I fear my coding is beyond zilch, so I'll not be able to
provide much assistance there.

Doug

On 20 May 2015 at 10:24, Alex Burr <notifications@github.com> wrote:

[2015-05-26 14:05] FMog opened #53 "[Nice to have] - Store downloaded image locally for quicker re-burn"
At the moment each time the Kano Burner application is run it downloads an image from scratch, it would be better if it checked for the latest image locally, if the file doesn't exist it downloads and stores it so that if the burner is run again it doesn't have to go through the whole download process all over again.

See GAT report:

---

Priority: Usability
Kano OS Downloader V2
5/6/2015 9:50 am

[2015-05-26 14:50] FMog opened #54 "[Bug] - Link "Questions? Visit help.kano.me" doesn't do anything"
When clicking on the 'Questions' link at the bottom of the burner, nothing happens.

![screenshot 2015-05-26 15 47 27](https://cloud.githubusercontent.com/assets/8862247/7815182/d00fdb78-03be-11e5-971f-de54267e4003.png)

See GAT report:

---

Raspberry Pi 2 Model B.
Date & time: 06.05.2015 05:26 PM EEST
Affected items:	Windows
Priority - Medium

ACTUAL RESULTS:
It was observed that the "Question?

[2015-05-26 16:20] FMog opened #55 "[Re-wording] - text for % progress could be improved"
Very minor issue, the text on the burner currently is "completed xx%" - this would look better without text and just as a percentage (like kano updater) in my opinion, and would help keep some uniformity, a style change to make the burner look like Kano updater would be good too, but that is for another day! :)

See GAT report:

---

Affected items: Windows
Priority: Usability
Grey Area - Unknown

[2015-06-03 10:51] FMog opened #56 "[Improvement] - The installer window should have a minimum size"
As in title.

See GAT report:

---

12.05.2015 20:30 GMT
Windows 8.1 Pro x64
Affected items: Windows
Priority: Usability

ACTUAL RESULTS:-
Users will notice that the installer window can be shrunk down to just a portion of the title bar. There is no point to allow the user to shrink the window until no elements from the original window are visible

EXPECTED RESULTS:
A minimum windows size should b

[2015-06-03 11:05] FMog opened #57 "[Improvement] - When the installer is launched on OSX, two icons are displayed for it in the app drawer."
As in title.

See GAT report:

---

iMac 21,5 Late 2013, OSX 10.10.4
12.05.2015 21:40 GMT
Priority: Medium
Affected items: MAC

ACTUAL RESULTS:-
A user that launches the Kano Burner installer on OSX will notice that the app displays 2 identical icons in the app drawer. Selecting quit on any of the icons will close the app and make both icons disappear.

EXPECTED RESULTS:
Only one icon should be di

[2015-06-10 12:56] Ealdwulf opened #58 "[improvement] Better way of choosing SD card"
@mkeegan suggested:
It would be easier for customers to indicate the correct drive by performing a physical action (removing and reinserting the card) than picking the driver from a list. This should be straightforward to implement.

[2015-06-10 13:04] Ealdwulf opened #59 "Logging"
There is currently no easy way of discovering why a customer has a problem with the burner. The burner should upload its log to us, probably by reusing the kano-feedback api.

[2015-07-17 18:51] langgaibo commented on #43
I just tried to use the Kano Burner native OSX app on a 32GB sandisk card, and the burner GUI does not detect the card. I checked the card with Disk Utility, looked fine, was FAT32, reformatted it anyway, still no luck.

From my amateurish poking around the build script it looks like the disk size is checked by the backend, does that mean that 32GB is still a hard limit in place on the backend?

C

[2015-07-21 08:54] alex5imon commented on #43
@langgaibo we put that limit to make sure the user don't format the main hard drive of the computer... I know it's a bit of a harsh measure, but we want to avoid "accidents" as much as possible.

[2015-07-21 17:05] langgaibo commented on #43
Thanks @alex5imon! I understand the need for the limit, it's better to prevent damage from mindless clicking than to shake a finger later.

I was able to build the kano-burners OSX app with raised 32.5GB limit after forking, but while the card was then recognized, the burn process didn't work.

Not to worry, I just went ahead and purchased a smaller SD card and burned it.

I'm incredibly impressed

[2015-07-22 08:43] wibbit commented on #43
@alex5imon If you're not changing those size limits then the wiki needs to be fixed, as currently it states...

By default, disks smaller than 4GB and larger than 64GB will not be listed to avoid hard drive wipes.

However that is not the case, as 32GB cards should work.

[2015-07-22 16:53] alex5imon commented on #43
@langgaibo thanks for the kind words!

@wibbit, you are absolutely right. Fixing that right now!

[2015-07-22 18:56] langgaibo commented on #43
@alex5imon thank you! although I see that it is still listed as 64GB on this page
https://github.com/KanoComputing/kano-burners#how-it-works
 which is one of the common landing points when searching the issue on google

[2015-07-23 09:34] alex5imon commented on #43
@langgaibo fixed!

[2015-07-29 09:43] pazdera opened #60 "[windows] Missing some tools"
On the blue laptop in the office, the version of the burner from the website doesn't work due to some dependencies missing, but it's not clear which ones or how to get them.

[2015-07-29 09:46] pazdera opened #61 "[windows] Stuck on 'preparing to download OS'"
Someone on Twitter reported that he burners are consistently getting stuck during this phase.

![burner](https://cloud.githubusercontent.com/assets/169328/8954646/f904a64c-35de-11e5-88f6-a38229107ae6.jpg)

[2015-08-27 20:50] raelity commented on #61
Hello. I've just experienced the same thing on OS X.

[2015-09-09 09:27] radujipa opened #63 "[Downloading] Remove pySmartDL if not used for downloading"
The project was changed to move away from `pySmartDL` and use `aria2` for downloading purposes.

However, `pySmartDL` was not completely removed from the project and is creating additional python dependencies. (e.g. `concurrent` module, for which you would need to `pip install futures`)

 - [ ] Investigate current usage of `pySmartDL`
 - [ ] If `pySmartDL` is not being used for specifically downlo

[2015-09-09 09:41] Ealdwulf commented on #63
The linux code in the burner wasn't updated to support aria2. That would be require some thought because it goes against the spirit of linux to supply a binary of aria2 like we do for windows and osx. some options are:
* Drop linux support
* Keep pySmartDL just for linux
* request the user to install aria2 manually if it isn't present

[2015-09-09 10:11] radujipa opened #64 "[Building] Broken Linux building process"
The building process for the Linux version should be investigated.

`pyinstaller` may have a problem packaging `PyQt4`. One reason may be that `pyinstaller` is simply broken and does not automatically detect the UI library usage. The second reason may be that the building process is different on Linux than on OSX and Windows and the `spec` files need to be fixed.

 - [ ] Investigate current state

[2015-09-09 10:16] radujipa commented on #63
At the moment, I believe there is an issue with the Linux version mainly because of `pyinstaller` since it doesn't seem to package `PyQt4`. This might need some further investigation as to whether this issue has been fixed, or perhaps the packaging process is different on Linux and has been wrong the whole time. I've opened another ticket https://github.com/KanoComputing/kano-burners/issues/64

-

[2015-09-12 11:43] Ealdwulf commented on #61
We've released a new version of the burners which give the option to upload a log to us if anything went wrong, to help us debug it. It would be great if you could have another go with that: http://downloads.kano.me/public/burners/kano-burner-osx.zip

[2015-10-02 11:12] Ealdwulf opened #65 "Burner doesn't work on Brandon's machine"
This is reproducable in the office, so we should fix it.

Logs:
[code]

[2015-10-24 08:41] chleggett commented on #61
I am still having the same trouble on OS X with what I think is the newest burner (v3).

I launched the app within a terminal session and this is what I see:

    cleggett@mario MacOS % pwd
    ~/Desktop/Kano Burner.app/Contents/MacOS
    /Users/cleggett/Desktop/Kano Burner.app/Contents/MacOS
    cleggett@mario MacOS % sudo ./Kano\ Burner
    ~/Desktop/Kano Burner.app/Contents/MacOS
    2015-10-24

[2015-10-24 13:24] Ealdwulf commented on #61
Thanks, that's really useful!
v3 is the newest burner.
So we need to retry with different port numbers, and probably also capture
the ouput of aria2 in logs in case there are other errors.

On 24 October 2015 at 09:41, Charles H. Leggett <notifications@github.com>
wrote:

[2015-11-04 15:47] tedmasterweb commented on #43
Hi,

Love Kano…

Is there anyway to manually burn (from the command line, for example) the image to these larger drives (on Mac OS X)? I live in a rather remote place and they only have 32 and 64GB cards (they don't carry much inventory and only the latest models as they can't sell older stuff). These instructions look promising:

https://www.raspberrypi.org/documentation/installation/installing-i

[2015-11-04 16:14] Ealdwulf commented on #43
Hi Ted,
 Yes, you can burn using the command line. The instructions at that link
should work. You can get our most recent image from:
http://downloads.kano.me/public/Kanux-Beta-v2.1.0-release.img.gz
That's compressed, so to decompress it do
gzip -d http://downloads.kano.me/public/Kanux-Beta-v2.1.0-release.img.gz
and then replace 2015-09-24-raspbian-jessie.img with
Kanux-Beta-v2.1.0-release.img

Ho

[2015-11-06 08:16] chleggett commented on #61
For convenience, here's the offending line:

https://github.com/KanoComputing/kano-burners/blob/6a4df1fa1c262ee2c206ce53446ab1395b8991de/src/common/aria2_downloader.py#L67

[2015-11-10 01:35] dflax commented on #65
I'm getting this on a 2013 MacPro:

Mac OS detected
Checking for dependencies..
Internet connection detected
ran: [which awk dd df diskutil grep gzip kill osascript pgrep] 0
All necessary tools have been found
Downloading latest OS information
Latest Kano OS image is Kanux-Beta-v2.1.0-release.img
Latest Kano OS image json is http://downloads.kano.me/public/Kanux-Beta-v2.1.0-release.img.json
ran: [

[2015-12-16 15:47] Ealdwulf opened #68 "[kano-burners] Issues with disk names containing special characters"
People with disk names containing special characters, eg, (), can't use the burner due to the way the disk names are passed to utilities. We should always quote disk names.

[2015-12-25 06:17] ericmseitz commented on #43
Alex,

I just went through the steps you recommended to Ted and it worked like a charm on a 32 GB SD card.

For anyone else trying this, I used the alternative method from the page Ted found. The one thing I will add is that once you hit enter, in terminal, after your version of this line: sudo dd bs=1m if=2015-11-21-raspbian-jessie.img of=/dev/rdisk3, be patient. It takes awhile to write the imag

[2015-12-29 01:34] davejohnson commented on #65
Same here.

[2016-01-19 00:33] g-guth commented on #61
I have the same problem on windows.

[2016-01-19 13:34] chleggett commented on #61
@g-guth if you have VNC installed, disable it before running the burner.

[2016-03-11 19:32] steffengy commented on #32
Is this still an open issue? If so, I'd be willing to test this on Win7 to Win 10.

[2016-03-14 10:15] Ealdwulf commented on #32
Thanks @steffengy  - I believe this is fixed now, although I don't think we a have a windows 10 machine in the office, so feel free to try it :-)

[2016-05-26 01:37] monaka commented on #31
I found this issue via Bountysource. Is the bounty still active?

[2016-05-26 09:16] alex5imon commented on #31
It's not active anymore sorry

[2017-05-07 22:26] ulgens commented on #31
@alex5imon Why didn't anyone close it then? :) It's open on both Github and Bountysource.

[2018-08-14 11:52] sudhanshuptl commented on #63
Facing issue while downloading file it just break after few 100mb and it show as download comppleted and restart download and loop continue

[2018-08-14 11:55] Ealdwulf commented on #63
We no longer support this tool; we now recommend using [etcher](https://etcher.io/)